body{
  
    background-color: whitesmoke;
    color: brgb(0,0,0);
    background-image: url("img/photo-1.jpg");
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

h1,h3{
    font-family: "impact", sans-serif;
    margin:0;
    font-weight: 700;
}

a{
    color: rgb(0,0, 128);

}

a:hover{
    opacity:.6;
}

#intro{
    min-height: 30vh;
    width: 60%;
    margin: auto;
    padding: 2%;
    background-color: rgb(0,0,0,.92);
    color: rgb(255,255,255);
    text-align: center;
}

#parallax{
    width:60%;
    margin: auto;
    padding: 2%;
    background-color: rgb (255, 255, 255, 0.92) /*.92 is the opacity level*/
   

}


h1{
    font-family:'impact', sans-serif;
    color: chocolate;


}

p{
    font-size:16px;
    font-family: 'EB Garamond', serif;
}

#byline{
    font-family: "Noto Sans", sans-serif;
 
}

.date{
    font-size: 14px;
    font-family:"Noto Sans", Sans-serif;
}

.pcut{
    font-size: 12px;
    font-family: 'opens', sans-serif;
    text-align: right;

}

footer{
    color:rgb(255,255,255);
    font-family: "Noto Sans", sans-serif;
    width: 60%;
    margin: auto;
    padding: 2%;
    text-shadow: 2px 2px 5px black;
    background-color:rgba(17,1,1,0.92);

}

img{
    width: 30px;
    height: 30px;
    position: relative;
    margin: auto;
    float: right;
    bottom: 5px;
}

h4{
    position:relative;
    margin: auto;

}

.gap{
    min-height: 100vh;
}